<div class="col-md-12">
	<h1>Seja bem Vindo</h1>
	<p>Idioma: <%= locale(I18n.locale)%></p>
	<p>A data de hoje é <%= Date.today %></p>

	<p>Estamos no ambiente de <strong><%= env_rails %></strong>	</p>
	<p>Variavel de sessao: <%=@nome%></p>
</div>